doctype html(lang='en')
head
    meta(charset='utf-8')
    title Books store admin
    link(href='/./styles/bundle.css', rel='stylesheet')
body
    root
    script(type='text/javascript', src='/polyfills.bundle.js')
    script(type='text/javascript', src='/vendor.bundle.js')
    script(type='text/javascript', src='/admin.bundle.js')
    //!{html}
